@using ModelLayer.Models
@model MainApp.Models.ViewModel.AppointmentViewModel;

@{
    var appointmentDays = ViewBag.AppointmentDays as IEnumerable<AppointmentDay>;
    var appointmentHours = ViewBag.AppointmentHours as IEnumerable<AppointmentHour>;
}

<div class="container mt-5" dir="rtl">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white text-center">
                    <h4>رزرو وقت</h4>
                </div>
                <div class="card-body">
                    @if (@TempData["success"] != null)
                    {
                        <span class="alert alert-success">@TempData["success"]</span>
                    }                    
                    <form asp-controller="Home" asp-action="SubmitAppointment">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group mt-3">
                            <label asp-for="Name" class="control-label mb-2"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <label asp-for="LastName" class="control-label mb-2"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <label asp-for="PhoneNumber" class="control-label mb-2"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <label asp-for="AppointmentDayId" class="control-label mb-2"></label>
                            <select asp-for="AppointmentDayId" class="form-control">
                                <option value="" selected>انتخاب روز</option>
                                @foreach (var day in appointmentDays)
                                {
                                    <option value="@day.Id">@day.Day</option>
                                }
                            </select>
                            <span asp-validation-for="AppointmentDayId" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <label asp-for="AppointmentHourId" class="control-label mb-2"></label>
                            <select asp-for="AppointmentHourId" class="form-control">
                                <option value="" selected>انتخاب ساعت</option>
                                @foreach (var hour in appointmentHours)
                                {
                                    if (hour.IsAvailable)
                                    {
                                        <option data-day-id="@hour.DayId" value="@hour.Id">@hour.Hour</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="AppointmentHourId" class="text-danger"></span>
                            @if (@TempData["hourIsNotAvailable"] != null)
                            {
                                <span class="alert alert-danger">@TempData["hourIsNotAvailable"]</span>
                            }                            
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary w-100 mt-5">ارسال</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        var Days = document.getElementById("AppointmentDayId")
        var selectedDayId = Days.value;
        var hours = document.querySelectorAll('#AppointmentHourId option');
        Days.addEventListener('change', ()=>{
            selectedDayId = Days.value;
            filterHours();
        })
        function filterHours(){
            hours.forEach((hour) => {
                var hourId = hour.getAttribute('data-day-id');
                if (hourId == selectedDayId) {
                   hour.style.display = 'block'
                } else {
                    hour.style.display = 'none';
                }
            });
        }

        filterHours();

    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
